.table-size{
    width: 100%; 
    height: auto;
    overflow-x: auto;
}

.input {
    padding: 5px;
    font-size: 8px;
}

.input-a {
    /* padding: 5px;
    font-size: 14px; */
}

th{
    font-size: 12px;
}

.btn-eliminar{
  font-size: 12px;
  padding: 5px 10px;
}

.container{
    display: flex;
}


.left{
    text-align: left;
}

.content {
    color: blue;
  }